## Basic Python Tutorial:
Examples in this Notebook are mostly taken from this Tutorial

https://docs.python.org/3/tutorial/

## Python Library Reference:
For any Questions regarding the Workings of Functions in the Python Standard Library

https://docs.python.org/3/library/index.html

## Python Data Science Handbook
Advanced Tutorials on the Usage of Python for Data Science\
Chapter 2-4 (Numpy, Pandas, Matplotlib, Seaborn) recommended for this Course

https://jakevdp.github.io/PythonDataScienceHandbook/

## Basic Datatypes

In [1]:
# String
a = "abc"

# Integer
b = 13

# Float
c = 0.134

# Boolean
d = False

In [2]:
type(a)

str

## Using Python as Calculator

In [3]:
2 + 2

4

In [4]:
50 - 5*6

20

In [5]:
(50 - 5*6) / 4

5.0

In [6]:
8 / 5  # division always returns a floating point number

1.6

In [7]:
5 ** 2  # 5 squared
#2 ** 7

25

In [8]:
width = 20
height = 5 * 9
width * height

900

In [9]:
4 * 3.75 - 1

14.0

## Lists

In [10]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [11]:
len(squares)

5

In [12]:
squares[0]  # indexing returns the item

1

In [13]:
squares[-1]

25

In [14]:
squares[-3:]

[9, 16, 25]

In [15]:
squares[:]

[1, 4, 9, 16, 25]

In [16]:
# concatenation
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

64

In [18]:
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [19]:
cubes.append(216)  # add the cube of 6
#cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216]

### Strings are basically Lists of Characters

In [20]:
word = "Python"

In [21]:
word[0]  # character in position 0
#word[5]  # character in position

'P'

In [22]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)
#word[2:5]  # characters from position 2 (included) to 5 (excluded)

'Py'

In [23]:
'J' + word[1:]

'Jython'

In [24]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [25]:
s[10:-10].upper()

'RAGILISTICEXPI'

### It is possible to nest lists (create lists containing other lists), for example:

In [26]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x
#x[0]
#x[0][1]

[['a', 'b', 'c'], [1, 2, 3]]

## *if* Statements

In [27]:
x = 0
#x = 1
#x = 2
#x = 10
#x = -10

In [28]:
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Zero

### *for* Statements

In [29]:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

### The *range* function

In [30]:
for i in range(5):
    print(i)

0
1
2
3
4

In [31]:
print(range(5))

range(0, 5)

In many ways the object returned by *range()* behaves as if it is a list, but in fact it isn’t. It is an object which returns the successive items of the desired sequence when you iterate over it, but it doesn’t really make the list, thus saving space.

We say such an object is iterable, that is, suitable as a target for functions and constructs that expect something from which they can obtain successive items until the supply is exhausted.

In [32]:
sum(range(5))

10

In [33]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [35]:
list(range(0, 10, 3))

[0, 3, 6, 9]

In [36]:
list(range(-10, -100, -30))

[-10, -40, -70]

### List comprehensions

In [37]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [38]:
[i**2 for i in range(5)]

[0, 1, 4, 9, 16]

In [39]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [40]:
for i, w in enumerate(a):
    print(i, w)

0 Mary
1 had
2 a
3 little
4 lamb

In [54]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 20:
    print(a) 
    c = a + b
    a = b
    b = c

0
1
1
2
3
5
8
13

In [55]:
a, b = 0, 1
while a < 20:
    print(a) 
    a,b = b,a+b

0
1
1
2
3
5
8
13